body{
    font-family: 'Montserrat' sans-serif;
    height: 100vh;
    color: white;
    
}

li h2{
    font-size: 1em;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/** HEADER **/
.header{
    background-color: transparent;
    width: 100vw;
    height: 55px;
    backdrop-filter: blur(13px);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.271);
}

.logo{
    height: inherit;
    float: left;
}

.logo img{
    height:50px;
    margin-top:2.5px;
}

.toggle{
    float:right;
}

.header .button {   
    padding: 0;
    outline: none;
    cursor: pointer;
    border: 0;
}

.header .button:focus {
    outline: none;
}

#containerBoxes{
    padding: 20px 0;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
}

#containerBoxes h1{
    text-align: center;
    
}

.box{
    backdrop-filter: blur(12px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding:20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.271);
    width: 100%;
    text-align: center;
    transition: ease 0.5s;
    
}

.box:hover{
    transform: scale(1.05);
}

.boxWrap{
    height: fit-content;
    padding: 20px;
}

#container{
    transition: ease 0.5s;
}

#myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.btn{
    background-color: transparent;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: 0.5s ease;
    width: 60%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}

.btn:hover{
    background-color: white;
   
    color: black;

}

.btnBack {
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    color: white;
    font-weight: 600;
    transition: 0.5s ease;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

}


input[type=text]{
    background-color: transparent;
    border: none;
    border-bottom: 2px white solid;
    color: white;
    text-align: center;
    font-weight: 100;
    transition: 0.5s ease-in;
    font-size: 3rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]:focus{
    border-bottom: 2px white solid;
    outline: none;
    font-size: 3rem;
}


.rw-words{
	display: block;
	width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;

	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
		
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }}

.username h2{
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
}

.last-step{
    text-align: center;
}